Bad programmers worry about the code. Good programmers
worry about data structures and their relationships.
— Linus Torvalds

In [9]:
import decimal
from decimal import Decimal

In [10]:
decimal.getcontext()

Context(prec=28, rounding=ROUND_HALF_EVEN, Emin=-999999999, Emax=999999999, capitals=1, flags=[], traps=[Overflow, DivisionByZero, InvalidOperation])

In [12]:
d = Decimal(1)/ Decimal(11)
d

Decimal('0.09090909090909090909090909091')

In [13]:
decimal.getcontext().prec = 4
e = Decimal(1) / Decimal(11)
e

Decimal('0.09091')

In [14]:
decimal.getcontext().prec = 50
f = Decimal(1) / Decimal(11)
f

Decimal('0.090909090909090909090909090909090909090909090909091')

In [16]:
g = d + e + f
g

Decimal('0.27272818181818181818181818181909090909090909090909')

A powerful tool when working with string objects is regular expressions. Python pro‐
vides such functionality in the module re :

In [22]:
import re
series = """
'01/18/2014 13:00:00', 100, '1st';
'01/18/2014 13:30:00', 110, '2nd';
'01/18/2014 14:00:00', 120, '3rd'
"""

In [24]:
dt = re.compile("'[0-9/:\s]+'") # datetime

In [25]:
result = dt.findall(series)
result

["'01/18/2014 13:00:00'", "'01/18/2014 13:30:00'", "'01/18/2014 14:00:00'"]

In [27]:
from datetime import datetime
pydt = datetime.strptime(result[0].replace("'", ""), '%m/%d/%Y %H:%M:%S')
pydt

datetime.datetime(2014, 1, 18, 13, 0)

In [31]:
# tuple
t = (1, 2.5, 'data')
print type(t)
print t.count('data')
print t.index(1)

<type 'tuple'>
1
0

In [32]:
# using map
def even(x):
    return x % 2 == 0

In [33]:
map(even, range(10))

[True, False, True, False, True, False, True, False, True, False]

In [34]:
map(lambda x:x ** 2, range(10))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [35]:
# filter returns only match the Boolean condition
filter(even, range(15))

[0, 2, 4, 6, 8, 10, 12, 14]

In [41]:
# reduce helps when we want to apply a function to all elements
reduce(lambda x, y: x + y, range(10))

45

In [42]:
d = {
    'Name' : 'Angela Merkel',
    'Country' : 'Germany',
    'Profession' : 'Chancelor',
    'Age': 60
}

In [43]:
d.keys()

['Country', 'Age', 'Profession', 'Name']

In [44]:
d.values()

['Germany', 60, 'Chancelor', 'Angela Merkel']

In [45]:
d.items()

[('Country', 'Germany'),
 ('Age', 60),
 ('Profession', 'Chancelor'),
 ('Name', 'Angela Merkel')]

In [46]:
# iterator objects
for item in d.iteritems():
    print item

('Country', 'Germany')
('Age', 60)
('Profession', 'Chancelor')
('Name', 'Angela Merkel')

In [47]:
for value in d.itervalues():
    print type(value)

<type 'str'>
<type 'int'>
<type 'str'>
<type 'str'>

In [48]:
from random import randint
l = [randint(0,10) for i in range(1000)]

In [49]:
l[:20]

[2, 10, 5, 5, 5, 5, 10, 2, 3, 2, 10, 6, 4, 4, 1, 8, 10, 1, 9, 2]

In [50]:
s = set(l)
s

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}